.body {
  font-family: "Lato";
  color: #333;
  font-weight: 100;
}

/* header */

.inner {
  width: 1100px;
  margin: auto;
}

.header{
  background-color: #fff;
  width: 100%;
  height: auto;
}
.header-inner{
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.bolt {
  color: #333;
  font-size: 40px;  
}

.contact_text {
  display: inline-block;
  background-color:#74cfae;
  padding: 14px 12px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

/* top(them) */
.top {
  background-color: #f2f2f2;
}
.top_inner{
  padding: 250px 0;
}
.top_title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  font-family: "Raleway";
  text-align: center;
}
.top_sub{
 margin-top: 20px;
 font-size: 30px;
 color: #c0c0c0;
 font-weight: 100;
 text-align: center;
}

/* section_lead(What can we do) */

.section_lead {
  background-color: #74cfae;
  width: 100%;
}

.section_lead_inner {
  display: flex;
}

.iphone {
  margin-top: 50px;
  margin-right: 10%;
  margin-left: 10%;
}

.section_lead_text{
  margin-top: 80px;
}

.section_lead_intro {
  font-size: 24px;
  color: #fff;
  font-family: "Raleway";
  font-weight: 100;
  text-align: center;
}

.section_lead_content {
  font-size: 20px;
  margin-top: 35px;
  font-family: "Lato";
}

/* articles */

.articles {
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
}

.articles_caption {
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 100;
  padding: 60px 0 40px;
  text-align: center;
}

.articles_images {
  display: flex;
}

.articles_images li {
  margin-left: 100px;
}

.articles_images li:nth-child(n+4){
 display: flex;
 flex-wrap: wrap;
}

.articles_section{
  display: flex;
  justify-content: center;
  padding: 90px 0 70px;
}

.articles_lead {
  display: inline-block;
  font-weight: 100;
  text-align: center;
  padding-right: 90px;
}

.articles_mail {
  display: inline-block;
  background-color:#74cfae;
  padding: 14px 20px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}