@charset "UTF-8";

.body {
  font-family: "Lato";
  font-weight: 100;
}

.img {
  vertical-align: bottom;
}

.a {
  display: inline-block;
}

.inner {
  width: 1100px;
  margin: auto;
}

/* header */

.header {
  background-color: #fff;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.bolt {
  color: #333;
  font-size: 40px;  
}

.contact__text {
  background-color:#74cfae;
  padding: 14px 12px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
}

.contact__text:hover {
 color: #333;
}

.btn_burger{
  display: none;
}

/* top(theme) */

.main {
  padding-top: 70px;
}

.top {
  background-color: #f2f2f2;
  width: 100%;  
  height: auto;
}

.top__inner{
  padding: 250px 0;  
}

.top__title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  font-family: "Raleway";
  text-align: center;
}
.top__sub{
 margin-top: 20px;
 font-size: 30px;
 color: #c0c0c0;
 font-weight: 100;
 text-align: center;
}

/* section_lead(What can we do) */

.section__lead {
  background-color: #74cfae;
  width: 100%;
  height: auto;
}

.section__lead__inner {
  display: flex;
  padding-top: 50px;
}

.iphone {
  text-align: center;
}

.section__lead__text{
  text-align: center;
}

.section__lead__intro {
  font-size: 24px;
  color: #fff;
  font-family: "Raleway";
  font-weight: 100;
  text-align: center;
}

.section__lead__content {
  font-size: 20px;
  margin-top: 35px;
  line-height: 1.5;
  color: #fff;
}

/* articles */

.articles {
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
}

.articles__inner{
  padding: 60px 0 70px;
}

.articles__caption {
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 100;
  text-align: center;
}

.articles__images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  z-index: 1;
}

.articles__link {
  opacity: 0.7;
  transition: 0.3s;
}

.articles__link:hover {
  opacity: 1;
}

.articles__images li {
  margin-left: 100px;
  margin-top: 90px;
}

.articles__images li:nth-child(3n+1) {
  margin-left: 0;
}

.articles__images li:nth-child(-n+3) {
  margin-top: 0;
}

.articles__section{
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.articles__lead {
  display: inline-block;
  font-weight: 100;
  text-align: center;
  margin-right: 90px;
  width: 450px;
}

.articles__mail { 
  background-color:#74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
 
}
.articles__mail:hover {
  color: #333;
}

/*　section_icon (OUR SLILS) */

.section__icon {
  background-color: #4e4e4e;
  width: 100%;
  height: auto;
}

.section__icon__inner {
 padding:70px 0 100px;
}

.section__icon__caption {
 color: #fff;
 font-size: 24px;
 font-family: "Raleway";
 font-weight: 100;
 text-align: center;  
}
 
.circle {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.circle li{
  margin-left:180px;
}

.circle li:first-child{
  margin-left: 0;
}

.circle__detail {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}

/*　SNS */

.sns {
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
}

.sns_inner {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.sns__button {
  text-align: center;
  padding: 40px 0;
  width: 185px;
  color: #74cfae;
  font-size: 40px;
  transition: all 0.3s;
}
.sns__button:hover {
  background-color: #fff;
}

/* footer */

.footer {
  background-color: #74cfae;
  width: 100%;
  height: auto;
} 

.footer__inner {
  padding: 20px 0 25px;
}

.footer_text {
  color: #fff;
  text-align: right;
}

@media only screen and (min-width:1200px) {
  
  .iphone {
    width: 450px;
  }

  .section__lead__inner {
    width: 650p;
  }
  
  .section__lead__text {
    width: 650px
  }
}

/* TAB */
@media only screen and (min-width:768px) and ( max-width:1199px) { 

  .inner {
    width: 97%;
    margin: auto;
  }
  
  /* section_lead(What can we do) */

  .section__lead__inner {
    flex-direction: column;
    padding-bottom: 25px;
  }

  .section__lead__text {
    margin-top: 20px;                 
  }

  /* articles */

  .articles__images {
    flex-direction: column; 
    text-align: center;
  }
  
  .articles__images li {
    margin: 0;
  }

  .articles__images li:nth-child(3n+1) {
    margin-top: 80px;
  } 

  .articles__images li:first-child {
    margin-top: 0;
  }

  .articles__section {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .articles__lead {
    margin: 0 auto;
    width: 100%;
  }

  .articles__mail {
    margin-top: 40px;
  }

  /*　section_icon (OUR SLILS) */

  .circle {
    flex-direction: column;
    text-align: center;
  }
  .circle li {
    margin: 88px 0 0 0;
  }
  .circle li:first-child{
    margin-top: 0;
  }
  
}

/* SP */
@media screen and (max-width:767px) {

  .inner {
    width: 97%;
    margin: 0 auto;
  }
  
  /* header */

  .contact__text {
    display: none;
  }

  .btn_burger {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .line {
    height: 2px; 
    width: 30px;
    background-color: #ddd;
    display: block;
    margin: auto;
    margin-top: 5px;
    }

  .line:first-child {
    margin-top: 0;
  }

  /* top */

  .top__inner {
    padding: 160px 0 130px;
  }

 /* section_lead(What can we do) */

  .section__lead__inner {
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
  }

  .section__lead__text {
    margin-top: 20px;                 
  }

  /* articles */

  .articles__images {
    flex-direction: column; 
    text-align: center;
  }
  
  .articles__images li {
    margin: 0;
  }

  .articles__images li:nth-child(3n+1) {
    margin-top: 80px;
  } 

  .articles__images li:first-child {
    margin-top: 0;
  }

  .articles__section {
    flex-direction: column;
    align-items: center;
  }

  .articles__lead {
    margin: 0 auto;
    width: 100%;
  }

  .articles__mail {
    margin-top: 40px;
  }

  /*　section_icon (OUR SLILS) */

  .circle {
    flex-direction: column;
    text-align: center;
  }

  .circle li {
    margin: 88px 0 0 0;
  }

  .circle li:first-child{
    margin-top: 0;
  }
  
  /* SNS */

  .sns_inner {
    flex-direction: column;
    padding: 20px 0;
  }

  .sns__button {
    width: 100%;
  }

}